<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- `clear` ensures no additional sources are inherited from another config file. -->
<packageSources>
  <clear />
  <!-- `key` can be any identifier for your source. -->
  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  <add key="thinkbig.com" value="https://nuget.unibet.com.au/api/v2" />
</packageSources>

<!-- Define mappings by adding package patterns beneath the target source. -->
<!-- Unibet.* packages and Kindred.* will be restored from thinkbig.com, everything else from nuget.org. -->
<packageSourceMapping>
  <!-- key value for <packageSource> should match key values from <packageSources> element -->
  <packageSource key="nuget.org">
    <package pattern="*" />
  </packageSource>
  <packageSource key="thinkbig.com">
    <package pattern="Unibet.*" />
    <package pattern="Kindred.*" />
    <package pattern="Feed.Event.Models" />
  </packageSource>
</packageSourceMapping>
</configuration>


